.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.75rem;
  width: 95%;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.textarea {
  padding: 0.75rem;
  width:95%;
  border: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
  transition: border-color 0.3s ease;
}

.textarea:focus {
  outline: none;
  border-color: #007bff;
}

.colorPicker {
  width: 100%;
  margin-bottom: 1rem;
}

.submitButton {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
}
